body, h1, h2, p {
    margin: 5;
    padding: 5;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333; 
}


header {
    background: linear-gradient(to right, #FAE7D7, #FAE7D7); 
    padding: 50px;
    text-align: center;
    color: #fff; 
}


.logo {
    font-size: 32px;
    font-weight: bold;
}


.model-display {
    margin: 20px 0;
    font-size: 20px;
    color: #fff; 
}


main {
    padding: 20px;
}


section {
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 40px;
    text-align: center;
}


h2 {
    font-size: 28px;
    margin: 20px 0; 
    color: #000; 
    text-align: center; 
    width: 100%; 
}


.item, .outfit {
    background-color: #FFFFFF; 
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s; 
    justify-content: center;
}


.item:hover, .outfit:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
}


.carousel {
    display: flex; 
    overflow-x: auto; 
    gap: 20px;
    justify-content: center; 
    padding: 20px 0; 
}


.outfits {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    margin-bottom: 40px; 
    gap: 20px; 
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #FAE7D7; 
    border-top: 2px solid #FAE7D7; 
    color: #000000; 
    position: relative;
    bottom: 0;
    width: 100%;
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

img{

width: 200px;
height: 200px;



}




button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px; 
    background: linear-gradient(to right, #007bff, #0056b3); 
    color: white; 
    cursor: pointer;
}


button:hover {
    background-color: #0056b3; 
}



